@import url('https://fonts.googleapis.com/css?family=Quicksand');

body{
    color: lightgray;
    font-family: 'Quicksand', sans-serif;
}

#container{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 700px;
}